{% extends 'gis/base.html' %}

{% block title %}
    Map
{% endblock %}

{% block content %}

        <h3>Map</h3>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A accusantium architecto asperiores consequatur,
        corporis cumque dolorem expedita fugiat, illum impedit inventore laborum maxime molestiae nulla quibusdam saepe
        temporibus ullam vero.
    </div>
    <div>Explicabo ipsam omnis provident quidem! Aliquam cum deleniti esse, laborum, libero, maiores minima natus nulla
        perferendis possimus quidem veritatis. Animi deleniti deserunt ducimus expedita impedit modi provident quam quia
        voluptas.
    </div>
    <div>Animi aperiam autem consectetur corporis, cumque deserunt dolore dolorem ducimus earum, eligendi eos fugit
        inventore, maiores modi nemo porro quam quas qui ratione recusandae rerum sapiente sequi veritatis voluptatibus
        voluptatum!
    </div>
    <div>Accusantium alias eius fugit incidunt ipsa nihil perspiciatis quod sequi? Ab exercitationem explicabo quae
        voluptatum. Consequuntur delectus exercitationem id impedit mollitia nam perferendis, qui, quibusdam quisquam
        recusandae sed, voluptate voluptatibus!
    </div>
    <div>Aliquid beatae blanditiis distinctio molestias necessitatibus quisquam, quo ratione. A ducimus enim, harum
        impedit provident reprehenderit saepe? Ipsa odio, sint? Libero pariatur provident quidem veritatis? Aspernatur
        facere nisi odio perspiciatis.
    </div>

{% endblock %}